.idea/
docker/
*.iml
.ipr
out/
data/
war/
!test/data/
precompiled/
lib/*
logs/
tmp/
application.local*.conf
vendor/
gwt-unitCache/
test-result/
test-result-gwt/
.DS_Store
.classpath
.project
.settings/
bin/db/
eclipse/
server.pid
target/
extra/
dump.rdb
.sonar
*.pyc
*.class
*.key
*.crt
*.csr
*.local.jks
*.p12
*~
jacoco.exec
jmeter.log
.ant-targets-build.xml
venv
dependency-reduced-pom.xml
public
.ideaDataSources/**
dataSources/**
local-docker-compose.yml
log4j.local.properties
last*.gid
config-local.yml
ui/node_modules
ui/dist
